@import 'src/styles/reset.scss';
@import 'src/styles/variables.scss';

body {
	font-family: 'Inter', sans-serif;
	padding: 50px 12px;
	background: $color-main-black;
	color: $color-main-white;

	&::before {
		background: url('//assets/logo-reddit.svg') no-repeat;
		content: '';
		position: absolute;
		top: -20px;
		right: -30px;
		width: 900px;
		height: 900px;
		opacity: 0.5;
	}

	@media only screen and (min-width: $screen-xs) {
		padding: 1px 24px 0 $closed-favourites-width + 24px;
	}
}

a {
	color: inherit;
	text-decoration: none;
}
