@import 'src/styles/variables.scss';
body {
	font-family: 'Inter', sans-serif;
	background: $main-black;
	padding-left: $closed-favourites-width + 12px;
	color: $main-white;
}

a {
	text-decoration: none;
}
