@import 'src/styles/reset.scss';
@import 'src/styles/variables.scss';

body {
	font-family: 'Inter', sans-serif;

	background: $color-main-black;
	color: $color-main-white;

	&::before {
		background: url('/assets/kappa.png') no-repeat left -110px top,
			url('/assets/notlikethis.png') no-repeat bottom left 20px,
			url('/assets/lul.png') no-repeat bottom -20px right;
		content: '';
		position: absolute;
		width: 100vw;
		height: 100vh;
		opacity: 0.02;
	}
}

main {
	padding: 50px 12px;

	@media only screen and (min-width: $screen-xs) {
		padding: 1px 24px 0 $closed-favourites-width + 24px;
	}
}

a {
	color: inherit;
	text-decoration: none;
}
