$main-black: #1f1f23;
$main-white: #dedee3;
$base-animation: 400ms ease-in-out;
$fast-animation: 300ms ease-in-out;
$faster-animation: 200ms ease-in-out;
$open-favourites-width: 240px;
$closed-favourites-width: 54px;
