$base-animation: 400ms ease-in-out;
$fast-animation: 300ms ease-in-out;
$faster-animation: 200ms ease-in-out;
$open-favourites-width: 240px;
$closed-favourites-width: 54px;
$open-favourites-height: 100vh;
$closed-favourites-height: 54px;

$color-main-black: #1f1f23;
$color-main-white: #dedee3;
$color-purple-main: #9147ff;
$color-red-error: #ff4775;

$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
