@import 'src/styles/variables.scss';

.radio-custom {
	input {
		position: relative;
		width: 16px;
		height: 16px;
		appearance: none;
		border: 1px solid $color-purple-main;
		border-radius: 50%;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: 50%;
			box-shadow: inset 0px 0px 0px 0 $color-purple-main;
			transition: box-shadow $faster-animation;
		}

		&:checked {
			&:before {
				box-shadow: inset 0px 0px 0px 8px $color-purple-main;
			}
		}
	}
}
