@import 'src/styles/variables.scss';

.radio-custom {
	display: flex;
	input {
		position: relative;
		margin: 0;
		width: 16px;
		height: 100%;
		appearance: none;
		border-radius: 50%;
		cursor: pointer;
		transition: border $faster-animation;

		&:before {
			content: '';
			position: absolute;
			top: 3px;
			left: 0;
			width: 16px;
			height: 16px;
			border-radius: 50%;
			box-shadow: inset 0px 0px 0px 2px $color-purple-main;
			transition: box-shadow $faster-animation;
			pointer-events: none;
		}

		&:checked {
			&:before {
				box-shadow: inset 0px 0px 0px 14px $color-purple-main;
			}
		}
	}

	label {
		padding: 3px 0 3px 6px;
		cursor: pointer;
	}
}
