@import 'src/styles/variables.scss';

.radio-custom {
	display: flex;
	cursor: pointer;
	input {
		position: relative;
		width: 16px;
		height: 16px;
		appearance: none;
		border: 2px solid $color-purple-main;
		border-radius: 50%;
		cursor: pointer;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: 50%;
			box-shadow: inset 0px 0px 0px 0 $color-purple-main;

			border: 0 solid $color-purple-main;
			transition: all $faster-animation;
		}

		&:checked {
			&:before {
				box-shadow: inset 0px 0px 0px 14px $color-purple-main;
			}
		}
	}

	label {
		padding-left: 6px;
		cursor: pointer;
	}
}
