@import 'src/styles/variables.scss';

.favourites-bar {
	position: fixed;
	top: 0;
	left: 0;
	width: 240px;
	height: 100%;
	z-index: 100;
	background: $main-black;
	border-right: 1px solid rgba($main-white, 0.6);
	box-shadow: 1px 0px 7px 1px rgba(0, 0, 0, 0.91);
	transform: translateX(-186px);
	overflow: hidden;
	transition: transform 200ms ease-in-out;

	&:hover {
		transform: translateX(0);
	}
}
.favourites-container {
	position: absolute;
	top: 0;
	left: 0;
	padding: 12px;
	width: 240px;
	height: 100%;
	transform: translateX(186px);
	transition: transform 200ms ease-in-out;

	&:hover {
		transform: translateX(0);
	}

	.title-lg {
		margin-bottom: 12px;
		font-size: 24px;
		font-weight: 400;
		color: #9147ff;
	}

	.favourites-list {
		display: flex;
		flex-direction: column;
		justify-content: center;

		.favourites-item {
			position: relative;
			padding-right: 15px;
			margin: 10px 0;
		}

		a {
			display: flex;
			align-items: center;
			font-size: 14px;
			color: $main-white;
			text-decoration: none;
		}

		.item-avatar {
			margin-right: 12px;
			width: 30px;
			border-radius: 50%;
			box-shadow: 0px 0px 4px 2px #000000;
		}

		button {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 0;
			padding: 0;
			width: 15px;
			height: 15px;
			font-size: 9px;
			background: none;
			color: rgba($main-white, 0.4);
			outline: none;
			border: none;
			cursor: pointer;
		}
	}
}
