.favourites-bar {
	position: fixed;
	top: 0;
	left: 0;
	width: 240px;
	height: 100%;
	z-index: 100;
	background: #1f1f23;
	border-right: 1px solid #eee;
	box-shadow: 1px 0px 7px 1px rgba(0, 0, 0, 0.91);
}
.favourites-container {
	position: absolute;
	top: 0;
	left: 0;
	padding: 24px;
	width: 240px;
	height: 100%;

	.title-lg {
		margin-bottom: 12px;
		font-size: 24px;
		font-weight: 400;
		color: #9147ff;
	}

	.favourites-list {
		display: flex;
		flex-direction: column;
		justify-content: center;

		.favourites-item {
			position: relative;
			padding-right: 15px;
			margin: 10px;
		}

		a {
			display: flex;
			font-size: 14px;
			color: #eeeeee;
			text-decoration: none;
		}

		.item-avatar {
			margin-right: 12px;
		}

		button {
			position: absolute;
			top: 0;
			right: 0;
			padding: 0;
			width: 15px;
			height: 15px;
			font-size: 9px;
			background: none;
			color: #818181;
			outline: none;
			border: none;
			cursor: pointer;
		}
	}
}
