@import 'src/styles/variables.scss';

.favourites-bar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	background: $color-main-black;
	box-shadow: 1px 0px 5px 1px rgba(0, 0, 0, 0.41);
	overflow-y: auto;
	overflow-x: hidden;
	transform: translateY(calc(54px - 100vh));
	transition: transform 200ms ease-in-out;

	@media only screen and (max-width: $screen-xs) {
		&.is-visible {
			transform: translateY(0);

			.favourites-container {
				transform: translateY(0);
			}
		}
	}

	@media only screen and (min-width: $screen-xs) and (max-width: $screen-sm) {
		width: $open-favourites-width;
		transform: translateX($closed-favourites-width - $open-favourites-width);

		&.is-visible {
			transform: translateX(0);

			.favourites-container {
				transform: translateX(0);
			}
		}
	}

	@media only screen and (min-width: $screen-sm) {
		width: $open-favourites-width;
		transform: translateX($closed-favourites-width - $open-favourites-width);

		&:hover {
			transform: translateX(0);

			.favourites-container {
				transform: translateX(0);
			}
		}
	}
}

.favourites-container {
	display: flex;
	flex-wrap: wrap;
	padding-top: 6px;
	width: 100%;
	transform: translateY(calc(100vh - 54px));
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	transition: transform $faster-animation;

	.title-lg {
		display: flex;
		align-items: center;
		padding: 0 12px;
		margin-top: 0;
		margin-bottom: 12px;
		width: 50%;
		text-align: left;
		font-size: 16px;
		font-weight: 600;
		letter-spacing: 1.2px;
		line-height: 20px;
		color: $color-purple-main;
		background: none;
		outline: none;
		border: none;

		a {
			display: flex;
			align-items: center;
		}
	}

	.sidebar-icon {
		margin-right: 12px;
	}

	.favourites-list {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;

		.favourites-item {
			position: relative;
		}

		.channel-avatar {
			filter: grayscale(0%);
		}

		a {
			display: block;
			padding: 10px 37px 10px 12px;
			color: $color-main-white;
			text-decoration: none;
		}

		button {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 17px;
			padding: 0;
			width: 15px;
			height: 15px;
			font-size: 9px;
			background: none;
			color: rgba($color-main-white, 0.25);
			outline: none;
			border: none;
			cursor: pointer;
		}
	}

	.favourites-empty {
		padding: 0 12px 0 $closed-favourites-width;
		font-size: 14px;
		color: rgba($color-main-white, 0.8);
	}

	@media only screen and (min-width: $screen-xs) {
		display: block;
		padding-top: 12px;
		width: $open-favourites-width;
		transform: translateX($open-favourites-width - $closed-favourites-width);

		.title-lg {
			width: auto;
			margin-bottom: 6px;
		}
	}

	@media only screen and (min-width: $screen-sm) {
		padding-top: 48px;

		.title-lg {
			margin-bottom: 24px;
		}

		.favourites-list {
			&:hover {
				.channel-avatar {
					filter: grayscale(70%);
				}
			}

			.favourites-item {
				&:hover {
					background-color: rgba($color-main-white, 0.05);
					.channel-avatar {
						filter: grayscale(0%);

						transform: scale(1.2);
					}
				}
			}

			button {
				&:hover {
					color: rgba($color-main-white, 0.6);
				}
			}
		}
	}
}
