@import 'src/styles/variables.scss';

.favourites-bar {
	position: fixed;
	top: 0;
	left: 0;
	width: 240px;
	height: 100%;
	z-index: 100;
	background: $main-black;
	border-right: 1px solid rgba($main-white, 0.6);
	box-shadow: 1px 0px 7px 1px rgba(0, 0, 0, 0.91);
	transform: translateX(-186px);
	overflow: hidden;
	transition: transform 200ms ease-in-out;

	&:hover {
		transform: translateX(0);

		.favourites-container {
			transform: translateX(0);
		}
	}
}
.favourites-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 240px;
	height: 100%;
	transform: translateX(186px);
	transition: transform $faster-animation;

	.title-lg {
		display: flex;
		align-items: center;
		padding: 0 12px;
		margin-bottom: 24px;
		font-size: 16px;
		font-weight: 600;
		letter-spacing: 1.2px;
		line-height: 20px;
		color: #9147ff;
	}

	.favourites-icon {
		margin-right: 12px;
	}

	.favourites-list {
		display: flex;
		flex-direction: column;
		justify-content: center;

		.favourites-item {
			position: relative;
			padding: 12px 37px 12px 12px;
			text-transform: capitalize;

			&:hover {
				background-color: rgba($main-white, 0.05);
				.item-avatar {
					transform: scale(1.1);
				}
			}
		}

		a {
			display: flex;
			align-items: center;
			font-size: 14px;
			color: $main-white;
			text-decoration: none;
		}

		.item-avatar {
			margin-right: 12px;
			width: 30px;
			height: 30px;
			border-radius: 50%;
			transition: transform $faster-animation;
		}

		button {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 17px;
			padding: 0;
			width: 15px;
			height: 15px;
			font-size: 9px;
			background: none;
			color: rgba($main-white, 0.25);
			outline: none;
			border: none;
			cursor: pointer;
		}
	}
}
