.favourites-container {
	text-align: center;

	.title-lg {
		font-size: 18px;
		font-weight: 400;
		color: #9147ff;
	}

	.favourites-list {
		display: flex;
		justify-content: center;

		.favourites-item {
			margin: 10px;
		}

		a {
			color: #eeeeee;
			text-decoration: none;
		}

		button {
			width: 15px;
			height: 15px;
			font-size: 10px;
			background: #eeee;
			outline: none;
			border: none;
		}
	}
}
