@import 'src/styles/variables.scss';

.favourites-bar {
	position: fixed;
	top: 0;
	left: 0;
	width: $open-favourites-width;
	height: 100%;
	z-index: 100;
	background: $color-main-black;
	border-right: 1px solid rgba($color-main-white, 0.6);
	box-shadow: 1px 0px 7px 1px rgba(0, 0, 0, 0.91);
	transform: translateX($closed-favourites-width - $open-favourites-width);
	overflow: hidden;
	transition: transform 200ms ease-in-out;

	&:hover {
		transform: translateX(0);

		.favourites-container {
			transform: translateX(0);
		}
	}
}
.favourites-container {
	position: absolute;
	top: 0;
	left: 0;
	width: $open-favourites-width;
	height: 100%;
	transform: translateX($open-favourites-width - $closed-favourites-width);
	transition: transform $faster-animation;

	.title-lg {
		display: flex;
		align-items: center;
		padding: 0 12px;
		margin-bottom: 16px;
		font-size: 16px;
		font-weight: 600;
		letter-spacing: 1.2px;
		line-height: 20px;
		color: $color-purple-main;

		a {
			display: flex;
			align-items: center;
		}
	}

	.sidebar-icon {
		margin-right: 12px;
	}

	.favourites-list {
		display: flex;
		flex-direction: column;
		justify-content: center;

		&:hover {
			.favourites-item {
				opacity: 0.5;
			}
			.channel-avatar {
				filter: grayscale(100%);
			}
		}

		.favourites-item {
			position: relative;

			&:hover {
				opacity: 1;
				background-color: rgba($color-main-white, 0.05);
				.channel-avatar {
					filter: grayscale(0%);

					transform: scale(1.2);
				}
			}
		}

		.channel-avatar {
			filter: grayscale(0%);
		}

		a {
			display: block;
			padding: 10px 37px 10px 12px;
			color: $color-main-white;
			text-decoration: none;
		}

		button {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 17px;
			padding: 0;
			width: 15px;
			height: 15px;
			font-size: 9px;
			background: none;
			color: rgba($color-main-white, 0.25);
			outline: none;
			border: none;
			cursor: pointer;

			&:hover {
				color: rgba($color-main-white, 0.6);
			}
		}
	}

	.favourites-empty {
		padding: 0 12px 0 $closed-favourites-width;
		font-size: 14px;
		color: rgba($color-main-white, 0.8);
	}
}
