.favourites-container {
	text-align: center;

	.title-lg {
		font-size: 18px;
		font-weight: 400;
		color: #9147ff;
	}

	.favourites-list {
		display: flex;
		justify-content: center;
		color: #eeeeee;
	}
}
