@import 'src/styles/variables.scss';

.loader,
.loader:before,
.loader:after {
	background: $color-purple-main;

	animation: load1 1s infinite ease-in-out;
	width: 1em;
	height: 4em;
}
.loader {
	color: $color-purple-main;
	text-indent: -9999em;
	position: relative;
	font-size: 11px;
	transform: translateZ(0);
	opacity: 0;

	animation-delay: -0.16s;
	transition: opacity $faster-animation;
	&.loading {
		opacity: 1;
	}
}
.loader:before,
.loader:after {
	position: absolute;
	top: 0;
	content: '';
}
.loader:before {
	left: -1.5em;
	animation-delay: -0.32s;
}
.loader:after {
	left: 1.5em;
}
@-webkit-keyframes load1 {
	0%,
	80%,
	100% {
		box-shadow: 0 0;
		height: 4em;
	}
	40% {
		box-shadow: 0 -2em;
		height: 5em;
	}
}
@keyframes load1 {
	0%,
	80%,
	100% {
		box-shadow: 0 0;
		height: 4em;
	}
	40% {
		box-shadow: 0 -2em;
		height: 5em;
	}
}
