@import 'src/styles/variables.scss';

.player-container {
	position: relative;
	margin: 0 auto 36px;
	width: 100%;
	max-width: 1200px;

	.video-controls {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 0 0 12px;
		background: rgba($color-purple-main, 0.2);
	}

	video {
		display: block;
		margin: 0 auto 24px;
		width: 100%;
		height: auto;
		opacity: 1;

		&.loading {
			width: 100%;
			height: 100vh;
			opacity: 0;
		}
	}

	.loader {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.right-container {
		display: flex;
	}

	.btn-clips-control {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 12px 36px;
		min-width: 160px;
		background: none;
		color: $color-main-white;
		border-radius: 6px;
		text-transform: uppercase;
		font-size: 15px;
		border: none;
		outline: none;
		cursor: pointer;
		overflow: hidden;

		svg {
			position: absolute;
			top: -50%;
			right: 12px;
			transform: translateY(-50%);
			transition: top $faster-animation;
		}

		&.btn-left {
			svg {
				right: initial;
				left: 12px;
				transform: translateY(-50%) rotate(180deg);
			}
		}

		&:disabled {
			opacity: 0.3;
			cursor: not-allowed;
		}

		&:hover:not(:disabled) {
			svg {
				top: 50%;
			}
		}
	}
}
