@import 'src/styles/variables.scss';

.player-container {
	position: relative;
	width: auto;
	text-align: center;
	video {
		display: block;
		margin: 0 auto 12px;
		width: auto;
		height: auto;
		max-height: calc(100vh - 200px);
	}
}
