@import 'src/styles/variables.scss';

.player-container {
	position: relative;
	margin: 0 auto 36px;
	width: 100%;
	max-width: 1200px;

	.video-controls {
		display: flex;
		justify-content: space-between;
		align-items: stretch;
		padding: 0 0 0 12px;
		border-bottom: 1px solid $color-main-black;
		background: rgba($color-purple-main, 0.2);

		.title-lg {
			display: flex;
			align-items: center;
			padding: 6px 0;
			font-weight: 400;
		}
	}

	video {
		display: block;
		margin: 0 auto 24px;
		width: 100%;
		height: auto;

		&.loading {
			width: 100%;
			opacity: 0;
		}
	}

	.loader {
		position: absolute;
		top: 300px;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.right-container {
		position: relative;
		display: flex;
		align-items: stretch;
	}

	.link-comments {
		display: flex;
		align-items: center;

		height: 100%;
		padding: 0 12px;
	}
	.btn-clips-control {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-left: 2px;
		padding: 12px 36px;
		background: rgba($color-main-black, 0.5);
		color: $color-main-white;
		text-transform: uppercase;
		font-size: 14px;
		border: none;
		outline: none;
		cursor: pointer;
		overflow: hidden;

		.icon-container {
			display: block;
			width: 20px;
			height: 20px;
		}

		svg {
			position: relative;
			width: 20px;
			height: 20px;
		}

		&.btn-left {
			display: flex;
			flex-direction: row-reverse;

			svg {
				transform: rotate(180deg);
			}
		}

		&:disabled {
			opacity: 0.3;
			cursor: not-allowed;
		}

		&:hover:not(:disabled) {
			background: rgba($color-purple-main, 0.2);
			svg {
				animation: controlhover 300ms;
			}
		}
	}
}

.error-container {
	position: relative;
	margin: 0 auto 36px;
	text-align: center;

	svg {
		margin-bottom: 24px;
		color: $color-red-error;
	}

	p {
		margin-bottom: 24px;
	}
}

.button-generic {
	padding: 12px 24px;
	background-color: $color-purple-main;
}

@keyframes controlhover {
	0%,
	100% {
		top: 0;
	}
	50% {
		top: 150%;
	}
	51% {
		top: -150%;
	}
}
