@import 'src/styles/variables.scss';

.player-container {
	position: relative;
	margin: 0 auto 36px;
	width: 100%;
	max-width: 1200px;

	.video-controls {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 0 0 12px;
		border-bottom: 1px solid $color-main-black;
		background: rgba($color-purple-main, 0.2);

		.title-lg {
			font-weight: 400;
		}
	}

	video {
		display: block;
		margin: 0 auto 24px;
		width: 100%;
		height: auto;

		&.loading {
			width: 100%;
			opacity: 0;
		}
	}

	.loader {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.right-container {
		display: flex;
	}

	.btn-clips-control {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-left: 2px;
		padding: 12px 36px;
		background: rgba($color-main-black, 0.5);
		color: $color-main-white;
		text-transform: uppercase;
		font-size: 14px;
		border: none;
		outline: none;
		cursor: pointer;
		overflow: hidden;

		svg {
			position: relative;
		}

		&.btn-left {
			display: flex;
			flex-direction: row-reverse;

			svg {
				transform: rotate(180deg);
			}
		}

		&:disabled {
			opacity: 0.3;
			cursor: not-allowed;
		}

		&:hover:not(:disabled) {
			background: rgba($color-purple-main, 0.1);
			svg {
				animation: controlhover 300ms;
			}
		}
	}
}

@keyframes controlhover {
	0%,
	100% {
		top: 0;
	}
	50% {
		top: 150%;
	}
	50.1% {
		top: -150%;
	}
}
