@import 'src/styles/variables.scss';

.logo-main {
	margin: 48px;
	text-align: center;
	font-weight: 400;
	color: $color-purple-main;

	@media only screen and (max-width: $screen-xs) {
		margin: 24px;
		font-size: 26px;

		svg {
			width: 30px;
			height: 24px;
		}
	}
}
