@import 'src/styles/variables.scss';
.inputs-group {
	display: flex;
	flex-wrap: wrap;

	.radio-custom {
		margin-right: 24px;
	}

	.title-lg {
		margin-bottom: 12px;
		width: 100%;
		font-size: 16px;
		border-bottom: 1px solid rgba($color-purple-main, 0.7);
	}
}

.search-container {
	margin-top: 250px;
	display: flex;
	justify-content: center;

	.input-main-search {
		width: 100%;
		background: rgba($color-purple-main, 0.2);
		border: 1px solid $color-main-white;
	}
}
