@import 'src/styles/variables.scss';
.inputs-group {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 24px;

	.radio-custom label {
		padding-right: 24px;
	}

	.title-lg {
		margin-bottom: 12px;
		width: 100%;
		font-size: 16px;
	}
}

.search-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0 auto 0;
	max-width: 560px;

	.text-intro {
		margin-bottom: 36px;
		width: 100%;
		text-align: center;
		font-size: 18px;
		font-weight: 400;
		color: $color-purple-main;
	}

	form {
		width: 100%;
	}

	.input-main-search {
		margin-bottom: 24px;
		padding: 8px 12px;
		width: 100%;
		background: #464649;
		color: $color-main-white;
		border: 1px solid transparent;
		outline: none;
		border-radius: 3px;

		&::placeholder {
			color: rgba($color-main-white, 0.7);
		}

		&:focus {
			border: 1px solid $color-purple-main;
		}
	}
}
