.suggestions-container {
	.title-lg {
		margin-bottom: 12px;
		font-size: 18px;
		text-align: center;
	}
	ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding: 0;
		margin: 0;
	}

	li {
		list-style: none;
	}

	.channel-avatar-container {
		display: flex;
		flex-direction: column;
	}
}
